@media only screen and (max-width: 1024px){
  .content {
    position: relative !important;
    width: 70% !important;
    top: 15% !important;
    left: 15% !important;
    margin-top: 15px;
  }
}
.content {
  position: fixed;
  top: 25%;
  left: 25%;
  text-align: center;
  display: inline-block;
  width: 50%;
}


.name {
  font-family: 'Amiri', serif;
  text-align: center;
  font-size: 40px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
	
.tagline {
  font-family: 'Hind Vadodara', sans-serif;
  font-weight: 600;
  text-align: center;
  color: #303030;
  font-size: 24px;
  margin-bottom: 2em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
} 
   
p {
  font-family: 'Hind Vadodara', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: #303030;
}

.ital {
  font-style: italic;
}
  
a {
    text-decoration: none;
    color: #42b9f4;

}
