<div class="end-logo"><a href="<%= host %>"><%= render '_taphandle' %></a></div>

     <div class="footer">
       <p>&copy; 2018 Delay Fiction<% if author != 'none' %> &amp; <%= author %><% end %> ||  <a href="<%= host + "/subscribe" %>">subscribe</a>
      </div>
    </div>
  </body>
</html>
