<div class="page-wrap">
  <div class="issue">
    <% @issue.stories.each do %>
      <div class="banner">
        <h1 class="post-title">obj</h1>
      </div>
    <% end %>
    <div class="text"></div>
  </div>

