<div class="page-wrap">
<div class="post">
  <% if title != 'none'%>
        <div class="banner">
          <h1 class="post-title"><%= title %></h1>
        </div>
      <% end %>
        <div class="text">
          <%= html %>
        </div>
      </div>

