<div class="page-wrap">
  <div class="issue">
    <div class="header-image">
    </div>
    <% @volume.issues.each do |issue|%>
      <div class="collection-issue">
        <a href="<%= host + '/' + issue.id %>">
        <div class="header-image">
          <img src="<%= asset_loc + issue.art %>">
        </div>
       <div class="post">
        <div class="banner">
          <h2 class="post-title"><%= issue.title %></h2>
          <div class="opener"><p><%= issue.desc %></p></div>
        </div>
     </div>
   </a>
 </div>
    <% end %>
  </div>

