<!doctype html>
<html lang="en">
  {{> head }}
  <body>
    {{> header }}

    {{#> main pageTitle=(formattedDate date "MMM:YY") }}
      <ul class="story-list">
        {{#each (lookup collections (idFor this))}}
          {{> story-list-item }}
        {{/each}}
      </ul>
    {{/main}}

    {{> footer
      nextPath=next.path
      nextText=next.title
      previousPath=previous.path
      previousText=previous.title
    }}
  </body>
</html>
